// Cards
.card {
  background-color: #343a40 !important;
}

.card-section {
  background-color: #202327;
  border-radius: 0.5rem;
  padding: 0.75rem;
}

// Snapshot Nav
.snapshot-nav {
  background-color: #566574;
  border-radius: 0.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.snapshot-nav-btn {
  width: 21vh;
}
