.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  // todo - set vh to max size of window
  min-height: 100vh;
}

// Spinners
.page-center-spinner-container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
